* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}
:root {
    --box-size: 300px;
}
body {
    background-color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#place-the-ships {
    display: grid;
    gap: 30px; 
}
#board-w-coor{
    display: grid;
    grid-template-columns: 0.9fr 10fr;
    grid-template-rows: 0.9fr 10fr;
}
#board-w-coor2{
    display: none;
    grid-template-columns: 0.9fr 10fr;
    grid-template-rows: 0.9fr 10fr;
}
#coor-let, #coor-let2{
    grid-area: 1/2/2/3; 
    width: 100%;  
    display: grid;
    align-items: flex-end;
    justify-items: center;
}
#coor-num, #coor-num2 {
    grid-area: 2/1/3/2;    
    display: grid;
    align-items: center;
    justify-items: center;
}
#coor-num, #coor-let, #coor-num2, #coor-let2{
    font-weight: 800;
    font-size: 100%;
}
#place-board, #place-board2 {
    grid-area: 2/2/3/3;
    width: var(--box-size);
    height: var(--box-size);
    display: grid;    
    border: solid;
}
.square {
    position: relative;   
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}
.square p {
    height: 100%;
    width: 100%;
    font-size: calc(var(--box-size)/10);
    display: flex;
    justify-content: center;
    align-items: center;
}
#ships-and-navigation{
    display: flex;
}
#place-ships {
    height: calc(var(--box-size)/1.5);
    width: 60%;
    display: grid;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}
#ship-placement-buttons{
    width: 40%;
    display: grid;
    align-items: center;
}
.ship-placement-button{
    height: 50%;
}
.shipChoice {
    display: flex;
    align-items: center;
    font-size: calc((var(--box-size)/10)*0.8);
    font-weight: 800;
    gap: 15px;
}

.shipChoiceSQ {
    height: calc((var(--box-size)/10)*0.97);
    width: calc((var(--box-size)/10)*0.97);
    background-color: green;
}

.hoveredSq {
    background-color: black;
}
#front-page {    
    position: absolute;
    width: 100%;
    height: 100%;    
}
#front-page-top {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 800;
    font-style: italic;
    background-color: cadetblue;
}
#front-page-bottom {
    height: 50vh;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10%;
    background-color: cadetblue;
}
.game-mode {
    width: 50%;
    height: 50%;
}
#victory-msg {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;    
    height: 100%;
    width: 100%;
    display: none;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
}
#who-won {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 15vw;
    font-weight: 800;   
}
#returnMenu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#returnMenuB {
    width: 40%;
    height: 15%;
}
@media only screen and (min-width: 600px) {
    #who-won {
        font-size: 8vw;
    }
    #returnMenuB {        
        height: 20%;
    }
}